/* root se define para crear colores, 
puedes almacenar cualquier tipo de valor. */
:root{
    --blanco: #ffffff;
    --negro: #000000;
    --primario: #fbee00;
    --secundario: #3842f2;
    --gris: #787775;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    /* 1rem = 10px
    estas dos lineas de html y body hacen que sea mas sencillo utilizar los rem, 
    con esos selectores hay mas comodidad y podemos aprovecar varias aplicaciones, 
    dispositivos y/o sitios web, con diferentes tamaños de pantalla y diseños---- utilizalo en todos los proyectos.*/
    font-family: 'Alatsi', sans-serif;
    
}

.titulo {
    text-align: center;
    /* google fonts: para escijer fuentes stile de letras*/
    font-size: 2.8em;
    font-weight: 200;
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    /*centrar el contenido*/
    width: 120rem;
    margin: 0 auto; 
    
}
.nav-bg {
     /* colo de la linea donde van los botones de navegacion*/
    background-color: var(--secundario);
}
.navegacion-principal {
    /*grosor de la barra de contenidos*/
    padding: 1rem;
    /*separar el contenido*/
    display: flex;
    justify-content: space-between;
}
 /* color de la palabra de navegacion*/
.navegacion-principal a {
    color: var(--blanco);
     /* decorar los tectos con. lineas o cancelados etc. con: text o fonts*/
    text-decoration: none;

}
